flujo_n8n.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "Sistema_Inteligente_de_Gestión_de_Justificación_de_Inasistencias",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -528,
          4
        ],
        "id": "65559bb2-fc17-47a4-8ee1-45a983174a6e",
        "name": "Webhook",
        "webhookId": "c8ff7e40-1c43-4287-acd3-03241d53f77a"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"decision\": \"VALIDA\",\n  \"razon\": \"...\",\n  \"confianza\": 70\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -168,
          376
        ],
        "id": "907d6ca0-5ccf-4c48-9a4c-f05bfdd75bf4",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5586768f-8f75-4946-b2f0-469c0b487052",
                "name": "nombre",
                "value": "={{ $('Webhook').item.json.body.nombre }}",
                "type": "string"
              },
              {
                "id": "52061815-1fbe-4be2-9dd5-7007cdb67644",
                "name": "id",
                "value": "={{ $('Webhook').item.json.body.id }}",
                "type": "string"
              },
              {
                "id": "abd6365c-11a2-41e8-9576-1566627cd426",
                "name": "correo",
                "value": "={{ $('Webhook').item.json.body.correo }}",
                "type": "string"
              },
              {
                "id": "1925872e-bc15-4280-8124-24cf378e14dd",
                "name": "motivo",
                "value": "={{ $('Webhook').item.json.body.motivo }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          496,
          -92
        ],
        "id": "d601116e-2df1-4b1c-b8f5-07ebacd96641",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('AI Agent').item.json.output.decision }}",
                      "rightValue": "INVALIDA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "4f01e7e9-ea03-44cc-96b5-7842cf4e7892"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "809be69e-130b-4f61-b096-c2fddd0a7f43",
                      "leftValue": "={{ $('AI Agent').item.json.output.decision }}",
                      "rightValue": "VALIDA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "45c36952-f347-4d71-a10a-01889a099de1",
                      "leftValue": "={{ $('AI Agent').item.json.output.decision }}",
                      "rightValue": "REQUIERE_REVISION",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          720,
          -108
        ],
        "id": "eca73073-6602-485a-ad2b-93b744e58df0",
        "name": "Switch"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cb571674-e0fd-491b-a673-83e304f1ac74",
                "leftValue": "={{ $json.output.decision }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          48,
          4
        ],
        "id": "4907de7c-ac65-4f85-89bc-676c650a6dea",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "chatId": "7534740046",
          "message": "=🚨 **ALERTA DEL SISTEMA**\n\nNo se pudo procesar correctamente la solicitud de justificación.\n\n👤 **Usuario:** {{ $('Webhook').item.json.body.nombre }}\n🆔 **ID:** {{ $('Webhook').item.json.body.id }}\n📧 **Correo:** {{ $('Webhook').item.json.body.correo }}\n📝 **Motivo:** {{ $('Webhook').item.json.body.motivo }}\n\n⚠️ **Problema:**\nLa IA no generó una respuesta válida o el formato no fue el esperado.\n\n🧠 **Estado:** ERROR_EN_ANALISIS\n\n📎 **Acción recomendada:**\nRevisar manualmente el documento enviado.\n\n---\n\n🤖 *Sistema automático de validación*",
          "options": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          272,
          100
        ],
        "id": "c96cae4c-48f4-466d-99cf-d7b5899e183c",
        "name": "Send a text message",
        "webhookId": "a175449c-f10f-488c-92be-2dd81f5274ff",
        "credentials": {
          "telegramApi": {
            "id": "cg7huuESesO641Wn",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Analiza este documento como una justificación de inasistencia estudiantil.\n\nDatos del estudiante:\nNombre: {{ $json.body.nombre }}\nID: {{ $json.body.id }}\nCorreo: {{ $json.body.correo }}\nMotivo: {{ $json.body.motivo }}\n\nTarea:\n1. Determina si el documento parece real y coherente.\n2. Verifica si el contenido coincide con el motivo.\n3. Detecta inconsistencias o señales de falsedad.\n\nClasifica en una de estas opciones:\n- VALIDA\n- INVALIDA\n- REQUIERE_REVISION\n\nReglas:\n- Si no estás seguro → REQUIERE_REVISION\n- No inventes información\n- Sé breve y claro\n\nResponde SOLO en formato JSON:\n\n{\n  \"decision\": \"VALIDA | INVALIDA | REQUIERE_REVISION\",\n  \"razon\": \"explicación breve\",\n  \"confianza\": \"porcentaje con nivel de confianza del comprovante dado\"\n}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -304,
          152
        ],
        "id": "6012fdf4-4e81-4840-932a-e73b2a73c81c",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -296,
          376
        ],
        "id": "ac0a77df-1a94-4e2e-adfb-bcd8ee12e803",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "DrQvNed7ctNTDsFv",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "19YyR8JQLbaspzTVqBjmV0mN5ByUznyc3pY_jOYZZjPU",
            "mode": "list",
            "cachedResultName": "Sistema Inteligente de Gestión de Justificación de Inasistencias",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YyR8JQLbaspzTVqBjmV0mN5ByUznyc3pY_jOYZZjPU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "aprobadas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YyR8JQLbaspzTVqBjmV0mN5ByUznyc3pY_jOYZZjPU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "fecha": "={{ $today }}",
              "nombre": "={{ $json.nombre }}",
              "correo": "={{ $json.correo }}",
              "motivo": "={{ $json.motivo }}",
              "razon_ia": "={{ $('AI Agent').item.json.output.razon }}",
              "confianza_ia": "={{ $('AI Agent').item.json.output.confianza }}",
              "decision_ia": "={{ $('AI Agent').item.json.output.confianza }}",
              "id_estudiante": "={{ $('Switch').item.json.id }}",
              "ID": "={{ $('Get row(s) in sheet').item.json.row_number }}"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nombre",
                "displayName": "nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_estudiante",
                "displayName": "id_estudiante",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "correo",
                "displayName": "correo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "motivo",
                "displayName": "motivo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nombre_archivo",
                "displayName": "nombre_archivo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "decision_ia",
                "displayName": "decision_ia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "razon_ia",
                "displayName": "razon_ia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "confianza_ia",
                "displayName": "confianza_ia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          944,
          -92
        ],
        "id": "384cce09-c94d-4b53-b7d7-ea23bb843b22",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "HzhFjWM0vlFndaAU",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "19YyR8JQLbaspzTVqBjmV0mN5ByUznyc3pY_jOYZZjPU",
            "mode": "list",
            "cachedResultName": "Sistema Inteligente de Gestión de Justificación de Inasistencias",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YyR8JQLbaspzTVqBjmV0mN5ByUznyc3pY_jOYZZjPU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "aprobadas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YyR8JQLbaspzTVqBjmV0mN5ByUznyc3pY_jOYZZjPU/edit#gid=0"
          },
          "filtersUI": {
            "values": []
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          272,
          -92
        ],
        "id": "3a49f423-c59b-4b1d-8d05-f88ec5b7e033",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "HzhFjWM0vlFndaAU",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7e9325e8-4fef-492a-87d2-33ab32393763",
                "name": "archivo_nombre",
                "value": "={{$binary.archivo.fileName}}",
                "type": "string"
              },
              {
                "id": "1f5b5161-0aed-4290-9287-768f83b92fe3",
                "name": "archivo_tipo",
                "value": "={{$binary.archivo.mimeType}}",
                "type": "string"
              },
              {
                "id": "c9d6f550-c664-4cc1-a6ac-4f608fee3c6c",
                "name": "archivo_size",
                "value": "={{$binary.archivo.fileSize}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -240,
          -144
        ],
        "id": "d6c96e91-025f-46aa-9451-4b4b8c23f930",
        "name": "Edit Fields1"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "b78bb889dab75452ebe597fb9c2fbbeb90b616c99a2191f4d5fb9e9720ec381b"
    }
  }